{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<style>

</style>

    <div style="margin: 15% auto; border: solid 2px; padding: 2%; width: 40%">
    <form action="{{ ('login') }}" method="post">
        <div style="margin-bottom: 15px;">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="_username" style="width: 50%; margin: auto 3%" required>
        </div>

        <div style="margin-bottom: 15px;">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password" style="width: 50%; margin: auto 7%" required>
        </div>

        <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Se connecter</button>
    </form>
    </div>

{% endblock %}
